body {
  background-color: lightblue;
}
.container {
  background-color: white;
  min-height: 500px;
  min-width: 600px;
  max-height: 500px;
  max-width: 600px;
  border: solid black;
  margin-top: 70px;
}
.currency-select, .conversion, #go, #user-input, p {
  display: none;
}
.col {
  margin-top: 20px;
}
#title {
  text-align: center;
}
#user-input {
  margin-left: 120px;
  resize: none;
  height: 30px;
  width: 80px;
}
#currency-in {
  margin-left: 2px;
  margin-top: 6px;
  position: absolute;
}
#currency-out-text{
  margin-left: 200px;
}
#currency-out {
  margin-left: 400px;
}
#go {
  margin-left: 220px;
}
#outputtext {
  margin-left: 100px;
}
#response-text {
  font-size: 50px;
  text-align: center;
}